{% for interface in interfaces %}
!
interface {{ interface.name }}
 description {{ interface.description }}
 ip address {{ interface.ipv4_address }} {{ interface.ipv4_netmask }}
 no shutdown
{% endfor %}
!